In [ ]:
# Assignment2
# Question2

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('A2_Data.csv')
data

    Height  Weight Size
0      158      45    S
1      155      48    S
2      155      46    S
3      156      50    M
4      159      65    L
5      157      46    S
6      160      55    M
7      160      45    S
8      162      63    L
9      163      56    M
10     163      50    M
11     160      64    L
12     161      58    M
13     168      62    L
14     165      66    L
15     170      63    L
16     170      64    L
17     170      68    L

In [3]:
Alice = [162, 60]

In [4]:
height = data['Height'].tolist()
weight = data['Weight'].tolist()

In [5]:
counter = 0
EdisList = []
MdisList = []
for i in zip(height, weight):
    Edis = ((i[0] - Alice[0])*(i[0] - Alice[0]) + (i[1] - Alice[1])*(i[1] - Alice[1]))**0.5
    Mdis = abs(i[0] - Alice[0]) + abs(i[1] - Alice[1])
    EdisList.append(Edis)
    MdisList.append(Mdis)
    # MdisList[counter] = Mdis
    # print(str(Edis) + ' ' + str(Mdis))
    # print('M_D = ' + str(Mdis))
    # print()
    counter += 1

In [6]:
# Add data into dataframe.
data['Edis'] = EdisList
data['Mdis'] = MdisList
data

    Height  Weight Size       Edis  Mdis
0      158      45    S  15.524175    19
1      155      48    S  13.892444    19
2      155      46    S  15.652476    21
3      156      50    M  11.661904    16
4      159      65    L   5.830952     8
5      157      46    S  14.866069    19
6      160      55    M   5.385165     7
7      160      45    S  15.132746    17
8      162      63    L   3.000000     3
9      163      56    M   4.123106     5
10     163      50    M  10.049876    11
11     160      64    L   4.472136     6
12     161      58    M   2.236068     3
13     168      62    L   6.324555     8
14     165      66    L   6.708204     9
15     170      63    L   8.544004    11
16     170      64    L   8.944272    12
17     170      68    L  11.313708    16

In [7]:
# normalization.
h_max = data['Height'].max()
h_min = data['Height'].min()
h_r = h_max - h_min
w_max = data['Weight'].max()
w_min = data['Weight'].min()
w_r = w_max - w_min
print(h_r, w_r)
print(h_min, w_min)
print(h_max, h_min)

15 23
155 45
170 155

In [8]:
h_NList = []
w_NList = []
for i in zip(height, weight):
    h_NList.append((i[0] - h_min)/h_r)
    w_NList.append((i[1] - w_min)/w_r)

data['h_N'] = h_NList
data['w_N'] = w_NList
data

    Height  Weight Size       Edis  Mdis       h_N       w_N
0      158      45    S  15.524175    19  0.200000  0.000000
1      155      48    S  13.892444    19  0.000000  0.130435
2      155      46    S  15.652476    21  0.000000  0.043478
3      156      50    M  11.661904    16  0.066667  0.217391
4      159      65    L   5.830952     8  0.266667  0.869565
5      157      46    S  14.866069    19  0.133333  0.043478
6      160      55    M   5.385165     7  0.333333  0.434783
7      160      45    S  15.132746    17  0.333333  0.000000
8      162      63    L   3.000000     3  0.466667  0.782609
9      163      56    M   4.123106     5  0.533333  0.478261
10     163      50    M  10.049876    11  0.533333  0.217391
11     160      64    L   4.472136     6  0.333333  0.826087
12     161      58    M   2.236068     3  0.400000  0.565217
13     168      62    L   6.324555     8  0.866667  0.739130
14     165      66    L   6.708204     9  0.666667  0.913043
15     170      63    L   8.544004    11  1.000000  0.782609
16     170      64    L   8.944272    12  1.000000  0.826087
17     170      68    L  11.313708    16  1.000000  1.000000

In [9]:
A_N = []
A_N.append((Alice[0] - h_min) / h_r)
A_N.append((Alice[1] - w_min) / w_r)
print(A_N)

[0.4666666666666667, 0.6521739130434783]

In [10]:
nor_height = data['h_N'].tolist()
nor_weight = data['w_N'].tolist()

counter = 0
EdisList_N = []
MdisList_N = []
for i in zip(nor_height, nor_weight):
    Edis_N = ((i[0] - A_N[0])*(i[0] - A_N[0]) + (i[1] - A_N[1])*(i[1] - A_N[1]))**0.5
    Mdis_N = abs(i[0] - A_N[0]) + abs(i[1] - A_N[1])
    EdisList_N.append(Edis_N)
    MdisList_N.append(Mdis_N)
    # MdisList[counter] = Mdis
    # print(str(Edis) + ' ' + str(Mdis))
    # print('M_D = ' + str(Mdis))
    # print()
    counter += 1

In [11]:
# Add data into dataframe.
data['Edis_N'] = EdisList_N
data['Mdis_N'] = MdisList_N
data

,Height,Weight,Size,Edis,Mdis,h_N,w_N,Edis_N,Mdis_N
0,158,45,S,15.524175,19,0.200000,0.000000,0.704586,0.918841
1,155,48,S,13.892444,19,0.000000,0.130435,0.699992,0.988406
2,155,46,S,15.652476,21,0.000000,0.043478,0.766999,1.075362
3,156,50,M,11.661904,16,0.066667,0.217391,0.590793,0.834783
4,159,65,L,5.830952,8,0.266667,0.869565,0.295396,0.417391
5,157,46,S,14.866069,19,0.133333,0.043478,0.693990,0.942029
6,160,55,M,5.385165,7,0.333333,0.434783,0.255023,0.350725
7,160,45,S,15.132746,17,0.333333,0.000000,0.665664,0.785507
8,162,63,L,3.000000,3,0.466667,0.782609,0.130435,0.130435
9,163,56,M,4.123106,5,0.533333,0.478261,0.186253,0.240580
10,163,50,M,10.049876,11,0.533333,0.217391,0.439864,0.501449
11,160,64,L,4.472136,6,0.333333,0.826087,0.219143,0.307246
12,161,58,M,2.236068,3,0.400000,0.565217,0.109571,0.153623
13,168,62,L,6.324555,8,0.866667,0.739130,0.409343,0.486957
14,165,66,L,6.708204,9,0.666667,0.913043,0.328714,0.460870
15,170,63,L,8.544004,11,1.000000,0.782609,0.549052,0.663768
16,170,64,L,8.944272,12,1.000000,0.826087,0.560973,0.707246
17,170,68,L,11.313708,16,1.000000,1.000000,0.636732,0.881159

In [12]:
# use KNN which k = 5, so we select first 5 smallest elements.
data['Edis'].nsmallest(5, keep = 'all')

12    2.236068
8     3.000000
9     4.123106
11    4.472136
6     5.385165
Name: Edis, dtype: float64

In [13]:
data['Mdis'].nsmallest(5, keep = 'all')

8     3
12    3
9     5
11    6
6     7
Name: Mdis, dtype: int64

In [14]:
data['Edis_N'].nsmallest(5, keep = 'all')

12    0.109571
8     0.130435
9     0.186253
11    0.219143
6     0.255023
Name: Edis_N, dtype: float64

In [15]:
data['Mdis_N'].nsmallest(5, keep = 'all')

8     0.130435
12    0.153623
9     0.240580
11    0.307246
6     0.350725
Name: Mdis_N, dtype: float64

In [16]:
data.to_csv('result.csv')